* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--text-font);
}
/* Remove a margem e o preenchimento padrão de todos os elementos e define o modelo de box-sizing como border-box. */

:root {
    --primary: #ff0000;
    --white-color: #ffffff;
    --black-color: #000000;


    --tittle-font: 'Quicksand', sans-serif;
    --gaming-font: 'Press Start 2P', cursive;
    --text-font: 'Poppins', sans-serif;

}
/* Define a cor vermelha como uma variável CSS chamada --primary. */

body {
    position: relative;
    background-color: #000000;
    font-family: "Roboto", sans-serif;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
}
/* Define o corpo da página com posição relativa, cor de fundo preta, usa a fonte 'Roboto', ocupa 100% da largura e tem altura mínima de 100vh, com overflow oculto. */

h1 {
    font-family: var(--gaming-font);
    position: absolute;
    top: 20%;
    left: 10%;
    font-size: 4rem;
    letter-spacing: 5px;
    line-height: 0.9;
    z-index: 10;
    text-transform: uppercase;
    color: var(--white-color)
}

h2 {
    color: #ffffff;
    font-size: 3rem;
    line-height: 1em;
    font-weight: 400;
    text-align: right;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: var(--tittle-font);
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    z-index: 20;
}

.logo img {
    max-width: 50px;
    max-height: 50px;
    filter: invert(1);
    transition: transform 0.5s ease;
}

.logo:hover img {
    transform: rotate(540deg) scale(1.2);
    transition: transform 0.5s ease;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.nav li {
    list-style-type: none;
}

.nav li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px;
}

.nav li:hover a {
    color: var(--primary);
}

.login-btn {
    color: var(--white-color);
    height: 40px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px 10px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.296);
    border-radius: 4px;
}   

.login-btn:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.login-input {
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    width: 10rem;
    height: 40px;
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 5px;
    font-size: 1rem;
}

.login-input:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.search {
    position: relative;
    width: 130px;
    height: 40px;
    transition: 0.5s;
}

.search:hover {
    width: 300px;
}

.search input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #ffffff;
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
    outline: none;
    border-radius: 4px;
    padding: 0 10px 0 5px;
}

.search input::placeholder {
    color: #ffffff;
    text-transform: uppercase;
    transform: translateX(5px);
    font-weight: 300;
}

/* ------------- RESPONSIVE MENU ------------- */

.hamburguer-menu {
    display: none;
}

.mobile-menu {
    display: none;
    background-color: #000000ef; 
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
}

.mobile-menu ul {
    list-style: none;
    padding: 0;
    transition: opacity 0.3s ease-in-out;
}
  
.mobile-menu ul li {
    margin: 1rem 0;
}
  
.mobile-menu ul li a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 10px;
}


/* ------------- SWIPER ------------- */

.swiper {
    width: 100%;
    height: 100vh;
}

.swiper .swiper-wrapper {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.swiper .swiper-wrapper .swiper-slide::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
}
/* Adiciona uma camada semitransparente preta sobre cada slide. */

.swiper .swiper-wrapper .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
/* As imagens dentro dos slides são ajustadas para cobrir toda a área e são centralizadas. */

.swiper .swiper-wrapper .swiper-slide .banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
/* O banner dentro dos slides ocupa 100% da largura, tem altura mínima de 100vh, usa layout flexível para centralizar seu conteúdo horizontal e verticalmente. */

.swiper .swiper-wrapper .swiper-slide .banner img {
    position: absolute;
    width: 46%;
    height: 100%;
    object-fit: contain;
    transform: translateX(-50%);
    left: 50%;
}

/* As imagens dentro do banner são centralizadas horizontalmente e têm largura máxima de 700px. */

.swiper .swiper-button-prev {
    position: absolute;
    left: 5%;
    top: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: rgb(120, 120, 232);
    color: white;
    border-radius: 1rem;

}
/* O botão anterior do swiper está posicionado com largura e altura de 60px, no centro vertical e com fundo vermelho. */

.swiper .swiper-button-next {
    position: absolute;
    right: 5%;
    top: 50%;
    width: 60px;
    height: 60px;
    z-index: 100;
    background-color: rgb(255, 55, 55);
    color: white;
    border-radius: 1rem;
    
}
/* O botão próximo do swiper está posicionado com largura e altura de 60px, no centro vertical e com fundo azul. */

.swiper .swiper-button-next::after,
.swiper .swiper-button-prev::after {
    z-index: 100 !important;
    display: block !important;
    visibility: visible !important;
}
/* Os ícones dentro dos botões anterior e próximo estão centralizados, com cor semitransparente, largura e altura de 60px, e bordas arredondadas. */

.right {
    max-height: 70vh;
}
/* Define a altura máxima de 70% da viewport para os elementos com a classe 'right'. */

.banner img {
    max-width: 790px;
    max-height: 790px;
    width: 50%;
    height: 50%;
}
/* As imagens no banner têm largura e altura máximas de 790px e ocupam 50% do contêiner. */

.swiper .swiper-wrapper .swiper-slide .banner .left {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* O conteúdo à esquerda do banner é exibido em uma coluna flexível, espaçado uniformemente. */

.banner .left .features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 400px;
    margin-top: 10rem;
    bottom: 0;
}
/* A seção de recursos à esquerda tem largura máxima de 400px e uma margem inferior de 100px. */

.banner .left .features .rating {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: flex-center;
    align-items: center;
    margin-bottom: 25px;
}
/* A seção de avaliação à esquerda tem texto branco, usa layout flexível para alinhar horizontalmente o conteúdo e tem uma margem inferior de 25px. */

.banner .left .features .rating .score {
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary);
    background: #ffffff;
}
/* A nota de avaliação (score) tem padding de 15px, fonte grande (2rem), cor vermelha e fundo branco. */

.banner .left .features .content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
/* O conteúdo de recursos tem uma margem à esquerda de 20px e é exibido em uma coluna flexível. */

.banner .left .features .pricing {
    color: #ffffff;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* A seção de preços é exibida com texto branco e layout flexível para alinhamento horizontal. */

.banner .left .features .content h4 {
    color: #ffffff;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
    text-transform: uppercase;
}
/* O título 'h4' dentro do conteúdo tem cor branca, tamanho de fonte 1.5em, peso de fonte 400, espaçamento entre letras de 2px e é exibido em maiúsculas. */

.banner .left .features .content span {
    font-size: 1em;
    text-transform: uppercase;
    font-weight: 400;
}
/* O texto adicional no conteúdo tem tamanho de fonte 0.7em, é exibido em maiúsculas e tem peso de fonte 400. */

.banner .left .features .content .subtitle {
    color: var(--primary);
    font-weight: 600;
    font-size: 1rem;
}
/* O subtítulo dentro do conteúdo de recursos tem a cor definida pela variável --primary (vermelha). */

.swiper .swiper-wrapper .swiper-slide .banner .right {
    position: relative;
    height: 100vh;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
    z-index: 100;
}

.banner .right .description {
    padding: 10px 10px;
    margin-top: 5%;
    color: var(--white-color);
    max-width: 300px;
    background-color: rgba(150, 144, 158, 0.477);
    border-radius: 5%;
}


.banner .right .description li {
    display: flex;
    flex-direction: column;
    list-style: none;
}


.banner .right .description h4 {
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
}


.banner .right .description p {
    font-weight: 300;
}

.banner .right iframe {
    max-width: 440px;
    max-height: 238px;
}

/* MODAIS */

  #details-button {
    display: none;
    position: absolute;
    top: 120px;
    right: 30px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    z-index: 999;
    background-color:#ff0000;
  }
  
  .details-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .details-modal-inner-container {
    width: 80%;
    max-width: 500px;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 5px;
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }

  .details-modal h2 {
    color: var(--black-color);
    font-size: 2rem;
    text-align: left;
  }
  
  .details-modal ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 999;
  }
  
  .details-modal li {
    margin-bottom: 1rem;
  }
  
  .details-modal h4 {
    margin: 0;
    font-size: 1.2rem;
    color: #333;
  }
  
  .details-modal span {
    display: block;
    font-size: 1rem;
    color: #555;
    margin-top: 0.25rem;
  }

  .details-modal .trailer {
    margin-top: 2rem;
    text-align: center;
  }
  
  .details-modal .trailer h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #111;
  }

  .hidden {
    display: none;
  }


@media screen and (max-width: 780px) {
    
    header {
        padding: 1rem;
        background-color: transparent;
    }

    nav .desktop-menu {
        display: none;
    }

    .logo img {
        max-width: 45px;
        max-height: 45px;
    }

    .nav {
        display: none;
    }

    .search {
        display: none;
    }
    
    .desktop-menu {
    display: none;
    }
    
    .hamburguer-menu {
        display: block;
    }
    
    .mobile-menu.active {
        display: block;
    }

    #search-responsive {
        display: flex;
    }

    .swiper .swiper-wrapper .swiper-slide .banner img {
        width: 70%; 
    }

    .banner .left h1 {
        font-size: 2rem;
    }

    .banner .left .features {
        flex-direction: row;
        padding-top: 0.2rem;
        position: absolute;
        left: 50%; 
        bottom: 0;
        transform: translateX(-50%); 
        margin: 0 auto; 
        min-width: 100%;
        background-color: #ffffff4d;
        z-index: 999;
    }

    .banner .left .features .rating .score {
        font-size: 1.4rem;
    }

    .banner .left .features .content h4 {
        font-size: 1rem;
    }

    .banner .left .features .content {
        text-align: center;
        display: flex;
        flex-direction: column;
        margin-left: 0;
        padding: 0.4rem 1rem;
    }

    .banner .right .description {
        display: none;
    }

    .banner .right h2 {
        font-size: 2.5em;
    }

    .trailer {
        display: none;
    }
    
    #details-button {
    display: block;
    }

}
    
